.input-space {
  width: 350px;
  height: 500px;
  background-color: #f4e1ad;
  padding: 20px;
  padding-left: 50px;
  border-radius: 20px; 
}

.first-char {
  padding-bottom: 50px;
}

.second-char {
  padding-bottom: 50px;
}

.third-char {
  padding-bottom: 50px ;
}

.book-lank {
  padding-top: 30px;
}